* {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: repeat(10 1fr);
  width: 85%;
  margin: auto;
}

#logo {
  margin-top: 30px;
  height: 160px;
  background-color: #2980C0;
  background-image: url('./images/ghibli_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#selectList {
  display: block;
}

#film-list {
  height: 525px;
  overflow: scroll;
  background-color: #E6E0D4;
}

.film-detail {
  padding: 40px;
}

h1 {
  padding-left: 15px;
  /* background-color: white; */
}

h3 {
  padding-left: 15px;
  color: #DF735C;
}

p {
  padding: 15px;
  /* color: white; */
}

.select-film-btn {
  grid-column: 1;
  grid-row: 1;
  background-color: #f4511e;
  width: 100%;
  border-bottom: 2px;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
}

.select-film-btn:hover {opacity: 1}
