* {
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 2fr 5fr 3fr;
  grid-template-rows: 1fr;
  width: 80%;
  height: 540px;

  margin: auto;
  margin-top: 100px;
}

#logo {
  margin-top: 30px;
  height: 160px;
  background-color: #2980C0;
  background-image: url('./images/ghibli_logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#select-list {
  /* height: 525px; */
  /* display: block; */
  overflow: scroll;
}

#film-list {
  /* height: 525px; */
  /* overflow: scroll; */
  background-color: #E6E0D4;
}

.film-detail {
  padding: 40px;
}

h1 {
  padding-left: 15px;
  /* background-color: white; */
}

h3 {
  padding-left: 15px;
  color: #DF735C;
}

p {
  padding: 15px;
  /* color: white; */
}

.select-film-btn {
  background-color: #f4511e;
  width: 100%;
  border-bottom: 2px;
  color: white;
  padding: 16px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
}

.select-film-btn:hover {opacity: 1}

/* .select-film-btn:focus {opacity: 1} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
